<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-8">
        <app-salesratio-graph></app-salesratio-graph>
    </div>
    <div class="col-md-4">
        <app-referal-earning></app-referal-earning>

        <app-users></app-users>
    </div>
</div>
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Ravenue - page-view-bounce rate -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <app-latest-sales></app-latest-sales>
    </div>
</div>
<!-- ============================================================== -->
<!-- Ravenue - page-view-bounce rate -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <app-recent-comments></app-recent-comments>
    </div>
    <!-- column -->
    <div class="col-lg-6">
        <app-temp-guide></app-temp-guide>
    </div>
</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->