<div class="card">
    <div class="card-body">
        <h4 class="card-title m-b-0">Users</h4>
        <h2 class="font-light">35,658 <span class="font-16 text-success font-medium">+23%</span></h2>
        <div class="m-t-30">
            <div class="row text-center">
                <div class="col-6 border-right">
                    <h4 class="m-b-0">58%</h4>
                    <span class="font-14 text-muted">New Users</span>
                </div>
                <div class="col-6">
                    <h4 class="m-b-0">42%</h4>
                    <span class="font-14 text-muted">Repeat Users</span>
                </div>
            </div>
        </div>
    </div>
</div>
